@import "tailwindcss";

/* Chrome, Safari, Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

@theme {
  --font-family: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Single primary color - Tailwind auto-generates utilities */
  --color-primary-base: #3B82F6;
  --color-primary-border: #e6e9f0;

  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f5f7fa;

  --color-bg-dark: #101922;
  --color-primary-border-dark: #233648;

  --color-card-dark : #15202b;

  --color-icon-dark-secondary: #233648;

  --color-button-bg-primary: #233648;

  --color-font-primary: #050506;
  --color-font-secondary: #5b5d63;

  --color-font-on-accent: #ffffff;
  /* --color-secondary: #062A54; */

  /* Or use OKLCH for better color consistency */
  /* --color-primary: oklch(68% 0.1 250); */

  /* You can also define multiple single colors */
  --color-brand: #ff5a1f;
  --color-accent: #10b981;
}
