# API
LLM_API_KEY=
LLM_BASE_URL=
EMBEDDING_BASE_URL=

# DB
VECTOR_DB=  # chroma or faiss

# AI
MODEL_NAME=
EMBEDING_MODEL=
EMBEDDING_SIZE=

ACTIVE_ROUTERS={}

# # Deployment
PROJECT_SERVICE_PORT=
SVC_MANAGEMENT_NAME=
REGISTRY=
PROJECT_NAME=
SERVER_SERVICE=
SERVER_DEPLOY_USER=
SERVER_DEPLOY_PASS=

BASE_POSTGRESQL_URL=

POSTGRESQL_TABLE_DOCUMENT=